{#
/**
 * @file
 * Default theme implementation for BibTeX Field.
 *
 */
#}
<ul class="bibliography-list list-group">
{% for key, item in bibtex %}
    <li class="bibliography-item list-group-item bibliography-item-{{ key }}">

        {% if item.author %}
            <span class="author">{{ item.author }}</span>
        {% endif %}

        {% if item.year %}
            <span class="year">({{ item.year }})</span>
        {% endif %}

        {% if item.booktitle %}
            <span class="booktitle">({{ item.booktitle }})</span>
        {% endif %}

        {% if item.title %}
            <span class="title">{{ item.title }}</span>
        {% endif %}

        {% if item.group %}
            <span class="group">{{ item.group }}</span>
        {% endif %}

        {% if item.publisher %}
            <span class="publisher">{{ item.publisher }}</span>
        {% endif %}

        {% if item.journal %}
            <span class="journal"><em>{{ item.journal }}</em></span>
        {% endif %}

        {% if item.volume %}
            <span class="volume">{{ item.volume }}</span>
        {% endif %}

        {% if item.chapter %}
            <span class="chapter">({{ item.chapter }})</span>
        {% endif %}

        {# use attribute when special characters (like a dash) in variable name #}
        {% if item.page-start %}
            <span class="page-start">{{ attribute(item, 'page-start') }}</span>
        {% endif %}

        {% if item.page-end %}
            - <span class="page-end">{{ attribute(item, 'page-end') }}</span>
        {% endif %}

        {% if item.pages %}
            <span class="pages">{{ item.pages }}</span>
        {% endif %}

        {% if item.address %}
            <span class="address">{{ item.address }}</span>
        {% endif %}

        {% if item.folder %}
            <span class="folder">{{ item.folder }}</span>
        {% endif %}

        {% if item.type %}
            <span class="type">{{ item.type }}</span>
        {% endif %}

        {% if item.linebegin %}
            <span class="line-begin">{{ item.linebegin }}</span>
        {% endif %}

        {% if item.lineend %}
            - <span class="line-end">{{ item.lineend }}</span>
        {% endif %}

        {% if item.note %}
            <span class="note">{{ item.note }}</span>
        {% endif %}

        {% if item.abstract %}
            <span class="abstract">{{ item.abstract }}</span>
        {% endif %}

        {% if item.url %}
            <span class="url"><a href="{{ item.url }}">{{ item.url }}</a></span>
        {% endif %}

    </li>
{% endfor %}
</ul>
